/* Allmän styling */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7fa; /* Ljus bakgrund för renare look */
    color: #bca5a5; /* Mörk textfärg för bättre läsbarhet */
    line-height: 1.6;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: #ece3e3; /* Mörkgrå textfärg */
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: #333; /* Mörkgrå textfärg */
    text-align: center;
    text-transform: uppercase;
}

/* Header */
header {
     background: linear-gradient(to right, #1f1c67, #0b396a); /* Gradient för modern känsla */
    padding: 60px 20px;
    text-align: center;
    color: white;
    position: relative;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
    color: #d1d9e6; /* Ljusare text för header-beskrivning */
}

/* Huvudinnehåll */
main {
    padding: 40px 20px;
    background-color: #fff;
}


/* Footer */
footer {
    background-color: #1a3a5e;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
}

footer .container {
    width: 80%;
    margin: 0 auto;
}

/* Responsiv design */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.5rem;
    }
    header p {
        font-size: 1rem;
    }
    .order-button {
        font-size: 1.1rem;
        padding: 12px 30px;
    }
    .medicine-card {
        font-size: 0.9rem; /* Minska textstorleken på korten för mobila enheter */
        height: 130px; /* Justera höjden på korten för mindre enheter */
    }
}


